name: My Action

on:
  pull_request:
  workflow_dispatch:

permissions: write-all

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Add file to repository
        run: |
          echo "This is a new file." > new_file.txt
          git add new_file.txt
          git config --global user.email "m202271825@hust.edu.cn"
          git config --global user.name "fmx-hust"
          git commit -m "Add new file"
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main
