name: Use Secrets in GitHub Actions

on: 
  workflow_dispatch:
  pull_request:

jobs:
  use_secrets:
    name: Use Secrets
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use Secret
        run: |
          # Access the secret using ${{ secrets.SECRET_NAME }}
          API_KEY=${{ secrets.test_secret }}
          echo "The API key is: $API_KEY"
#   print_env:  
#     name: Print ENV
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout code
#         uses: actions/checkout@v2
        
#       - name: Print Env
#         run: |
#           printenv
#           ehco "success"
#         env:
#           test_secret: ${{ secrets.test_secret }}
        
